/* ------------------- */
/* GENERAL STYLES */
/* ------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

:root {
  --primary-color: #e67e22;
  --primary-color-dark: #cf711f;
  --primary-color-light: #fdf2e9;
  --secondary-color: #fae5d3;
  --dark-color: #333;
  --light-color: #f8f9fa;
  --grey-color: #555;
  --grey-light-color: #888;
  --white-color: #fff;
}

/* ------------------- */
/* REUSABLE COMPONENTS */
/* ------------------- */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.075em;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
  color: var(--dark-color);
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
  color: var(--dark-color);
}

.btn:link,
.btn:visited,
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.btn-primary:link,
.btn-primary:visited,
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--primary-color-dark);
}

.btn-outline-primary:link,
.btn-outline-primary:visited {
  background-color: var(--white-color);
  color: var(--dark-color);
  border: 1px solid var(--grey-light-color);
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: var(--light-color);
  box-shadow: inset 0 0 0 0.2rem var(--grey-light-color);
}

.btn-lg {
  font-size: 1.8rem;
  padding: 1.4rem 2.8rem;
}

.btn-form {
  background-color: var(--primary-color-dark);
  color: var(--white-color);
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
}

.btn-form:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.link:link,
.link:visited {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 0.2rem;
  transition: all 0.3s;
  display: inline-block;
  font-size: 1.6rem;
}

.link:hover,
.link:active {
  color: var(--primary-color-dark);
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-icon {
  color: var(--primary-color);
  width: 2.4rem;
  height: 2.4rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(230, 125, 34, 0.5);
}

/* ------------------- */
/* HEADER */
/* ------------------- */

.navbar {
  background-color: var(--primary-color-light);
  height: 8rem;
  padding: 0;
  transition: all 0.3s;
}

.navbar-brand {
  height: 2.2rem;
}

.logo {
  height: 2.2rem;
}

.navbar-nav {
  gap: 3.2rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-color);
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--primary-color);
}

.btn-cta {
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color) !important;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: var(--primary-color-dark);
}

.hero {
  background-color: var(--primary-color-light);
  padding: 13rem 0 9.6rem 0;
}

.hero-text-box {
  margin-bottom: 4.8rem;
}

h1 {
  font-size: 4.4rem;
  line-height: 1.1;
  color: var(--dark-color);
  letter-spacing: -0.02em;
  margin-bottom: 2.4rem;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.hero-btns {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 4.8rem;
}

.delivered-faces {
  display: flex;
}

.delivered-faces img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: -1.2rem;
  border: 0.3rem solid var(--primary-color-light);
}

.delivered-faces img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.6rem;
}

.delivered-text span {
  color: var(--primary-color-dark);
  font-weight: 700;
}

.hero-img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

/* ------------------- */
/* FEATURED SECTION */
/* ------------------- */

.featured {
  padding: 4.8rem 0;
}

.featured-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--grey-light-color);
}

.logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.logos img {
  height: 3rem;
  opacity: 0.5;
  filter: brightness(0);
}

/* ------------------- */
/* HOW IT WORKS SECTION */
/* ------------------- */

.section-how {
  padding: 9.6rem 0;
}

.step-row {
  margin-bottom: 6.4rem;
  align-items: center;
}

.step-row:last-child {
  margin-bottom: 0;
}

.step-number {
  font-size: 7.4rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--primary-color-light);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--secondary-color);
  z-index: -1;
}

.step-img {
  width: 35%;
  border-radius: 1rem;
}

/* ------------------- */
/* FEATURES SECTION */
/* ------------------- */

.section-features {
  padding: 9.6rem 0;
  background-color: var(--primary-color-light);
}

.feature {
  padding: 2.4rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: var(--white-color);
  height: 100%;
  transition: all 0.4s;
}

.feature:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.feature-icon {
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  padding: 1.2rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  display: inline-block;
}

.feature-title {
  font-size: 2rem;
  color: var(--dark-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* ------------------- */
/* MEALS SECTION */
/* ------------------- */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.4s;
  height: 100%;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--dark-color);
  border-radius: 10rem;
  font-weight: 600;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2rem;
  color: var(--dark-color);
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meal-attribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.meal-icon {
  color: var(--primary-color);
  font-size: 1.8rem;
}

.meal .list {
  flex-grow: 1;
}

.all-recipes {
  text-align: center;
  margin-top: 3.2rem;
}

/* ------------------- */
/* TESTIMONIALS SECTION */
/* ------------------- */

.section-testimonials {
  background-color: var(--primary-color-light);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials {
  padding: 9.6rem;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.testimonial-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  font-style: italic;
}

.testimonial-name {
  font-size: 1.4rem;
  color: var(--grey-light-color);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  border-radius: 1rem;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* ------------------- */
/* PRICING SECTION */
/* ------------------- */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  margin-bottom: 3.2rem;
  transition: all 0.4s;
}

.pricing-plan:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.pricing-plan-starter {
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.1);
  border: 2px solid var(--primary-color-light);
}

.pricing-plan-complete {
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color-light);
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  content: "Best value";
  position: absolute;
  top: 5%;
  right: -10%;
  background-color: #ffd43b;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 4.8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
  padding: 4.8rem;
}

.plan-name {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-bottom: 2.4rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--dark-color);
  margin-bottom: 1.2rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.4rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--grey-color);
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

/* ------------------- */
/* CTA SECTION */
/* ------------------- */

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--primary-color);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--primary-color-light);
}

.cta-text-box .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--primary-color-light);
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: var(--grey-light-color);
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url('/api/placeholder/800/600');
  background-size: cover;
  background-position: center;
}

.cta-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------- */
/* FOOTER */
/* ------------------- */

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.social-links a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--grey-light-color);
  transition: all 0.3s;
}

.social-links a:hover {
  color: var(--primary-color);
}

.copyright {
  font-size: 1.4rem;
  color: var(--grey-light-color);
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--grey-color);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: var(--primary-color);
}

.address {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

/* Utility classes */
.text-center {
  text-align: center;
}